/* General settings */
html {
    scroll-behavior: auto !important;
}

body{
    font-family: "Open Sans";
    background-color: black;
    color:white;
}

.hr-custom {
    color: #17A3B8;

}


/* Sobre Nosotros */
.parrafo-icon {
    background-color: #17A3B8;
}

.parrafo-icon i{
    font-size: 2rem;
}


/* Destacados */
.card {
    background-color: #17A3B8;
    border-color: darkgrey;
}

.card-img-top {
    width: 100%;

    object-fit: cover;
}

.card-body{
    font-size: 90%;
}


/* Formulario de contacto */
.form {
    background-color: white;
    color: black;
}

/* Footer */
#footer {
    background-color: #17A3B8;
}

#footer a {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
}
  
.social-icons i {
    margin: 0 5px;
}